examples/assistants.json
[
    {
        "id": "78b174792ca9efaf",
        "type": "tab",
        "label": "Assistants Examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3aed22e8a8626b49",
        "type": "group",
        "z": "78b174792ca9efaf",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a1dd9dd38256bc37",
            "94c58ec5fd3ce89a",
            "78bae2355d746f5b",
            "16fd166e2cfe1aec",
            "54cdefbcbbec117f",
            "e0007c022bce36b9",
            "e5b83cdfc84c22f9",
            "6ada9879e91ef156",
            "a08cc5475a20cc70"
        ],
        "x": 94,
        "y": 113,
        "w": 1472,
        "h": 374
    },
    {
        "id": "6ada9879e91ef156",
        "type": "group",
        "z": "78b174792ca9efaf",
        "g": "3aed22e8a8626b49",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7a825447030eb842",
            "e78656f2a1db4141",
            "a342bcf840361d49",
            "da5c242d75d45b1a",
            "faf6244b17ba1131"
        ],
        "x": 454,
        "y": 139,
        "w": 832,
        "h": 122
    },
    {
        "id": "a08cc5475a20cc70",
        "type": "group",
        "z": "78b174792ca9efaf",
        "g": "3aed22e8a8626b49",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d0ed57739e76eba4",
            "a319c0690ad183bc"
        ],
        "x": 454,
        "y": 339,
        "w": 212,
        "h": 122
    },
    {
        "id": "a1dd9dd38256bc37",
        "type": "debug",
        "z": "78b174792ca9efaf",
        "g": "3aed22e8a8626b49",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "94c58ec5fd3ce89a",
        "type": "inject",
        "z": "78b174792ca9efaf",
        "g": "3aed22e8a8626b49",
        "name": "assistant payload",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "assistant.name",
                "v": "_node-red-openai-api-rag-example_",
                "vt": "str"
            },
            {
                "p": "assistant.model",
                "v": "gpt-3.5-turbo-1106",
                "vt": "str"
            },
            {
                "p": "assistant.tools",
                "v": "[{\"type\":\"retrieval\"}]",
                "vt": "json"
            },
            {
                "p": "assistant.description",
                "v": "My helpful assistant.",
                "vt": "str"
            },
            {
                "p": "assistant.instructions",
                "v": "You are a helpful assistant with access to files that I share with you.",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "retrieval",
        "payload": "[\"/path/to/my/file-1.txt\",\"/path/to/my/file-2.txt\"]",
        "payloadType": "json",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "78bae2355d746f5b"
            ]
        ]
    },
    {
        "id": "78bae2355d746f5b",
        "type": "switch",
        "z": "78b174792ca9efaf",
        "g": "3aed22e8a8626b49",
        "name": "assistant type switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "retrieval",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 300,
        "wires": [
            [
                "7a825447030eb842"
            ],
            [
                "a319c0690ad183bc"
            ]
        ],
        "outputLabels": [
            "Document-enhanced Agent",
            "Standard Agent"
        ]
    },
    {
        "id": "16fd166e2cfe1aec",
        "type": "comment",
        "z": "78b174792ca9efaf",
        "g": "3aed22e8a8626b49",
        "name": "Document-Enhanced (RAG) Assistant",
        "info": "",
        "x": 270,
        "y": 180,
        "wires": []
    },
    {
        "id": "54cdefbcbbec117f",
        "type": "inject",
        "z": "78b174792ca9efaf",
        "g": "3aed22e8a8626b49",
        "name": "assistant payload",
        "props": [
            {
                "p": "payload.name",
                "v": "_node-red-openai-api-example_",
                "vt": "str"
            },
            {
                "p": "payload.model",
                "v": "gpt-4-1106-preview",
                "vt": "str"
            },
            {
                "p": "payload.tools",
                "v": "[{\"type\":\"code_interpreter\"}]",
                "vt": "json"
            },
            {
                "p": "payload.description",
                "v": "My helpful standard assistant.",
                "vt": "str"
            },
            {
                "p": "payload.instructions",
                "v": "You are a helpful assistant.",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "78bae2355d746f5b"
            ]
        ]
    },
    {
        "id": "e0007c022bce36b9",
        "type": "function",
        "z": "78b174792ca9efaf",
        "g": "3aed22e8a8626b49",
        "name": "structure assistant payload",
        "func": "// create an array of IDs from the fil upload response.\nconst file_ids = msg.payload.map(element => element.id);\n\n// attach the file IDs to the assistant.\nmsg.assistant.file_ids = file_ids;\n\nmsg.payload = msg.assistant;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 220,
        "wires": [
            [
                "a319c0690ad183bc"
            ]
        ]
    },
    {
        "id": "e5b83cdfc84c22f9",
        "type": "comment",
        "z": "78b174792ca9efaf",
        "g": "3aed22e8a8626b49",
        "name": "Standard Assistant",
        "info": "",
        "x": 210,
        "y": 420,
        "wires": []
    },
    {
        "id": "7a825447030eb842",
        "type": "split",
        "z": "78b174792ca9efaf",
        "g": "6ada9879e91ef156",
        "name": "gather file details",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "da5c242d75d45b1a"
            ]
        ]
    },
    {
        "id": "e78656f2a1db4141",
        "type": "join",
        "z": "78b174792ca9efaf",
        "g": "6ada9879e91ef156",
        "name": "gather files",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1190,
        "y": 220,
        "wires": [
            [
                "e0007c022bce36b9"
            ]
        ]
    },
    {
        "id": "a342bcf840361d49",
        "type": "comment",
        "z": "78b174792ca9efaf",
        "g": "6ada9879e91ef156",
        "name": "Upload Files",
        "info": "",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "da5c242d75d45b1a",
        "type": "function",
        "z": "78b174792ca9efaf",
        "g": "6ada9879e91ef156",
        "name": "structure file payload",
        "func": "msg.payload = {\n    \"file\": msg.payload,\n    \"purpose\": \"assistants\",\n    \"filename\": msg.filename\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 220,
        "wires": [
            [
                "faf6244b17ba1131"
            ]
        ]
    },
    {
        "id": "d0ed57739e76eba4",
        "type": "comment",
        "z": "78b174792ca9efaf",
        "g": "a08cc5475a20cc70",
        "name": "Create Assistant",
        "info": "",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "e3812b47c1b7b918",
        "type": "comment",
        "z": "78b174792ca9efaf",
        "name": "Create Assistants",
        "info": "",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "faf6244b17ba1131",
        "type": "OpenAI API",
        "z": "78b174792ca9efaf",
        "g": "6ada9879e91ef156",
        "name": "upload file",
        "service": "",
        "method": "createFile",
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "e78656f2a1db4141"
            ]
        ]
    },
    {
        "id": "a319c0690ad183bc",
        "type": "OpenAI API",
        "z": "78b174792ca9efaf",
        "g": "a08cc5475a20cc70",
        "name": "create assistant",
        "service": "",
        "method": "createAssistant",
        "x": 560,
        "y": 380,
        "wires": [
            [
                "a1dd9dd38256bc37"
            ]
        ]
    }
]