examples/files.json
[
    {
        "id": "c95856327794f489",
        "type": "tab",
        "label": "File Examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2eb6bac23f83d38b",
        "type": "group",
        "z": "c95856327794f489",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "54186a1f39edeeac",
            "c9e22fbc2113f3a0",
            "cff979baa8adcc5d",
            "90a86dfe209b300e"
        ],
        "x": 94,
        "y": 139,
        "w": 672,
        "h": 142
    },
    {
        "id": "54186a1f39edeeac",
        "type": "inject",
        "z": "c95856327794f489",
        "g": "2eb6bac23f83d38b",
        "name": "File Reference",
        "props": [
            {
                "p": "payload.file",
                "v": "/path/to/my/file.txt",
                "vt": "str"
            },
            {
                "p": "payload.purpose",
                "v": "assistants",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "90a86dfe209b300e"
            ]
        ]
    },
    {
        "id": "c9e22fbc2113f3a0",
        "type": "debug",
        "z": "c95856327794f489",
        "g": "2eb6bac23f83d38b",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "cff979baa8adcc5d",
        "type": "comment",
        "z": "c95856327794f489",
        "g": "2eb6bac23f83d38b",
        "name": "Upload Single File",
        "info": "",
        "x": 210,
        "y": 180,
        "wires": []
    },
    {
        "id": "90a86dfe209b300e",
        "type": "OpenAI API",
        "z": "c95856327794f489",
        "g": "2eb6bac23f83d38b",
        "name": "Uplad File",
        "service": "",
        "method": "createFile",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "c9e22fbc2113f3a0"
            ]
        ]
    }
]