examples/fine-tuning.json
[
    {
        "id": "6920fb391b5cefcd",
        "type": "tab",
        "label": "Fine-tuning Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3cf1ce601d097456",
        "type": "inject",
        "z": "6920fb391b5cefcd",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 275,
        "y": 260,
        "wires": [
            [
                "bdaf36c829550e41"
            ]
        ],
        "l": false
    },
    {
        "id": "91ef7edeb8621f4e",
        "type": "comment",
        "z": "6920fb391b5cefcd",
        "name": "List your organization's fine-tuning jobs",
        "info": "",
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "fadc3f2cbe276ec2",
        "type": "debug",
        "z": "6920fb391b5cefcd",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "bdaf36c829550e41",
        "type": "openai-api",
        "z": "6920fb391b5cefcd",
        "name": "list fine-tuning jobs",
        "service": "",
        "method": "listPaginatedFineTuningJobs",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "fadc3f2cbe276ec2"
            ]
        ]
    }
]