examples/images.json
[
    {
        "id": "dc40eecb9611dce6",
        "type": "tab",
        "label": "Image Examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "610413b8d258c093",
        "type": "group",
        "z": "dc40eecb9611dce6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d463be1fb4f4b316",
            "defe047606001648",
            "4e5290689cc38e3f",
            "1ba407d00dd42425"
        ],
        "x": 114,
        "y": 139,
        "w": 592,
        "h": 142
    },
    {
        "id": "d463be1fb4f4b316",
        "type": "inject",
        "z": "dc40eecb9611dce6",
        "g": "610413b8d258c093",
        "name": "file details",
        "props": [
            {
                "p": "payload.image",
                "v": "/path/to/my/image/png",
                "vt": "str"
            },
            {
                "p": "payload.prompt",
                "v": "A graphic design logo with a blue dot in the middle.",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "1ba407d00dd42425"
            ]
        ]
    },
    {
        "id": "defe047606001648",
        "type": "debug",
        "z": "dc40eecb9611dce6",
        "g": "610413b8d258c093",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "4e5290689cc38e3f",
        "type": "comment",
        "z": "dc40eecb9611dce6",
        "g": "610413b8d258c093",
        "name": "Create Image Edit",
        "info": "",
        "x": 230,
        "y": 180,
        "wires": []
    },
    {
        "id": "1ba407d00dd42425",
        "type": "OpenAI API",
        "z": "dc40eecb9611dce6",
        "g": "610413b8d258c093",
        "name": "create image edit",
        "service": "",
        "method": "createImageEdit",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "defe047606001648"
            ]
        ]
    }
]